//imports
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');

//variables
$work-sans: 'Work Sans', sans-serif;
$font-bold: 500;
$font-med: 400;
$font-light: 300;

$light-pink: #ff9068;
$dark-pink: #fd746c;
$white: #fff;
$grey: #4a494a;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body, #loginContainer  {
  background: #ff9068; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($light-pink, $dark-pink); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($light-pink, $dark-pink); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($light-pink, $dark-pink); /* For Firefox 3.6 to 15 */
  background: linear-gradient($light-pink, $dark-pink);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 2em;
}

h1 {
  font-family: $work-sans;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.toolbar {
  height: 70px;
  width: 50%;
  background-color: $grey;
  padding-top: 0.12em;
  padding-left: 1em;
  & p {
    display: inline-block;
    float: left;
    margin-right: 2em;
    color: $white;
    font-family: $work-sans;
    font-weight: $font-light;
  }
  & ul {
    list-style-type: none;
    & li {
      & button {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }
  &.deviceButtons {
    float: left;
  }
  &.toolButtons {
    float: right;
  }
}

.canvasContainer {
  width: 50%;
  height: 80%;
  position: relative;
}

#templateImage {
  z-index: -1;
  display: inline;
  position: absolute;
  width: 600px;
  height: 500px;
  background-color: $white;
}

#paintCanvas {
  z-index: 998;
  background:rgba(255,255,255,0);
  width: 100%;
  height: 100%;
}

.redUser {
  color: red;
}

.blueUser {
  color: blue;
}

.greenUser {
  color:Purple;
}

#loginContainer {
  width:100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

#activeUsers {
  float:right;
}

.activeUser {
  width: 20px;
  height: 20px
}